<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Textifyr uses the microphone to transcribe your speech to text.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Textifyr uses speech recognition to convert spoken audio to text.</string>
</dict>
</plist>
